.catalog__items {
	list-style: none;
}

.catalog__item-title {
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
}

.catalog__item-intro {
	font-size: 13px;
	line-height: 30px;
	color: @base-color;
}

.catalog__item-value {
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
}

.catalog__item-purchase {
	display: block;
	width: 259px;
	text-align: center;
	padding: 20px 0;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	color: #444444;
	background-color: #ffffff;
	border: 2px solid @base-color;
	text-transform: uppercase;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #ffffff;
		background-color: @base-color;
	}

	&:active {
		color: #7c7c7c;
		background-color: @base-color;
}
}