.catalog-list {
	font-size: 19px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;

	list-style: none;

	a {
		color: #ffffff;
		text-decoration: none;
	}

	&__item:hover a,
	&__item:focus a {
		color: #8be2d0;
	}
}

.catalog-list__item:first-child {
	background-color: #61d1bb
}

.catalog-list__item:last-child {
	background-color: #56c3b2;
}