.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-list__item {
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	padding: 30px 75px;


	a {
		color: black;
		text-decoration: none;
		outline: none;
	}

	&:hover a,
	&:focus a {
		color: @focus;
	}

	&:active a {
	 color: @active;	
	}

}



