.page-header {
	display: flex;
	flex-direction: column;
}

.page-header__logo {
	width: 86px;
	height: 35px;

	outline: none;

	&:hover,
	&:focus {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.5;
	}
}