.page-header {
	display: flex;
	flex-direction: column;
}

.page-header__container {
	position: relative;
	padding-top: 22px;
	padding-bottom: 22px;
}

.page-header__logo {
	display: block;
	width: 86px;
	height: 35px;
	content: "";
	position: absolute;
	background-image: url(../img/logotype-mobile.svg);
	background-repeat: no-repeat;
	left: 115px;
	top: 1px;

	
	&:hover,
	&:focus {
		opacity: 0.8;
	}
	

	&:active {
		opacity: 0.5;
	}
}

@media (min-width: 768px) {
.page-header__container {
	position: relative;
	padding-top: 22px;
	padding-bottom: 22px;
}
}

@media (min-width: 768px) {
	.page-header__logo {

		display: block;
		width: 112px;
		height: 46px;

		content: "";
		position: absolute;
		background-image: url(../img/logo-tablet.svg);
		background-repeat: no-repeat;
		
	}
}

@media (min-width: 768px) {
 .site-list__item:nth-child(1) {
	margin-right: 5px;
 }
}